:root {
  font-family: InterArial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  -webkit-scrollbar {
    display:none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;

  background-color: #212121;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding:8px;
}